{
	"comments": false,
	"env": {
		"main": {
			"presets": [
				[
					"env",
					{
						"targets": { "node": 8 }
					}
				],
				"stage-0"
			]
		},
		"renderer": {
			"presets": [
				[
					"env",
					{
						"modules": false,
						"targets": {
							"electron": "3"
						},
						"loose": true
					}
				],
				"stage-0"
			]
		},
		"web": {
			"presets": [
				[
					"env",
					{
						"modules": false,
						"targets": {
							"chrome": "60",
							"firefox": "57"
						},
						"loose": true
					}
				],
				"stage-0"
			]
		} 
	}
}
