<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>osu! player</title>
	<% if (htmlWebpackPlugin.options.nodeModules) { %>
	<!-- Add `node_modules/` to global paths so `require` works properly in development -->
	<script>
		if(typeof require === 'function') require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, "\\\\") %>')
	</script>
	<% } %>
</head>

<body>
	<div id="app"></div>
	<script>if(typeof process === 'undefined')window.process = { env: {} }</script>
	<!-- Set `__static` path to static files in production -->
	<script>
		if (process.env.NODE_ENV !== 'development' && typeof require === 'function') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
	</script>
	<script>window.module = {}</script>
	<!-- webpack builds are automatically injected -->
</body>

</html>
